.site-container,
#root {
  min-height: 100vh;
}

html,
body {
  /* overflow: hidden; */
  /* height: 100%; */
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root {
  --link-light-grey: #6c757d;
  --link-grey: #ddd;
  --primary-orange: #fec503;
  --footer-background-light-grey: #212529;
  --footer-background-grey: #1a1d20;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --social-buttons-circle-dark-grey: #1a1d20;
}

li {
  list-style-type: none;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}

.header {
  background-color: #000000;
}

hr {
  margin-top: 0;
  height: 2px;
  border-width: 0;
  color: #656565;
  background-color: #656565;
}

.navbar {
  /* background-color: #c4c0bc; */
  /* background-color: rgba(0, 0, 0, 0.92); */
  /* background-color: #1d1d1f; */
  background-color: #0022fd;
}

.navbar-brand {
  color: #ffffff;
  font-weight: bold;
}

.fabars {
  color: #ffffff;
  padding-right: 10px;
  cursor: pointer;
}

.faEllipsisVertical {
  color: #ffffff;
}

.navbar-toggler {
  /* color: #ffffff; */
  /* background-color: #ffffff; */
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: #ffffff;
  /* text-decoration: underline blue; */
}

.side-navbar {
  width: 150px;
  height: 100%;
  position: fixed;
  top: 6%;
  left: 0;
  z-index: 1;
  /* padding-top: 60px; */
  left: -150px;
  background-color: #6c80fd;
  transition: 0.5s;
}


.active-cont {
  /* opacity: 10;
  -webkit-tap-highlight-color: transparent; */
  /* margin-left: 250px; */
}

.site-container {
  transition: 0.5s;
}

.active-nav {
  left: 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}

.rating span {
  color: #ffc000;
}

.img-thumbnail {
  height: 80px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
.small-container {
  max-width: 600px;
}
.img-large {
  max-width: 100%;
}
.img-small {
  max-width: 100px;
}

.carousel .slide img {
  width: 100%;
  max-width: 400px;
}

.legend{
  background-color: #0022fd !important;
}
.text-bold {
  font-weight: bold;
}

.back-to-top {
  color: #000000;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

.support-users {
  background: #f0f0f0;
  height: 100%;
}
.support-users li {
  background-color: #f8f8f8;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c0c0c0;
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}

div#container {
  overflow-x: auto;
}

button.thumbnail {
  padding: 0;
}

.footer-link {
  text-decoration: none;
  color: var(--link-light-grey);
}

.footer-link:hover {
  text-decoration: underline;
  color: var(--link-grey);
  text-underline-position: under;
  text-underline-offset: 4px;
}

a:hover {
  color: var(--primary-orange);
  text-decoration: none;
}

::selection {
  background: var(--primary-orange);
  text-shadow: none;
}

footer {
  padding: 2rem 0;
}

.footer-layout {
  /* background-color: rgb(13, 20, 30); */
  /* background-color: #c4c0bc; */
  /* background-color: rgba(0, 0, 0, 0.92); */
  background-color: #1f2024;
}

/* .layout {
  background-color: #efefef;
} */

.footer-column:not(:first-child) {
  padding-top: 2rem;
  @media (min-width: 768px) {
    padding-top: 0rem;
  }
}

.footer-column {
  text-align: center;
}
/* .nav-item {
  } */
.nav-link {
  color: #ffffff;
  padding: 0.1rem 0;
}


span.nav-link {
  /* color: var(----link-light-grey); */
  color: #ffffff;
}

.nav-link:hover {
  color: #ff0000;
  text-decoration: underline blue;
  text-underline-position: under;
  text-underline-offset: 4px;
}

.nav-link:focus {
  color: #ffffff;
}

span.nav-link:active {
  color: #ffffff;
}

span.footer-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

a.link-item {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

a.link-item:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 4px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.fas {
  margin-right: 0.5rem;
}

ul {
  display: inline-block;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: var(--primary-orange);
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: var(--footer-background-grey);
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

a.card-title {
  text-decoration: none;
  color: #000000;
  /* font-weight: 700; */
}

a.card-title:hover {
  text-decoration: underline;
  color: var(--primary-orange);
}

a.card-text {
  text-decoration: none;
  color: #000000;
}

a.card-text:hover {
  text-decoration: underline;
  color: var(--primary-orange);
}

.navigator {
  background-color: rgb(19, 25, 33);
}

navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

